@import 'vars';
@import 'fonts';
@import 'global';


.header {
    background-color: $accent;

    &__inner {
        min-height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media (min-width: 640px) {
    .header {
        &__inner {
            min-height: 100px;
        }
    }
}

.logo__link {
    margin-left: 8px;
}

@media (min-width: 640px) {
    .logo__link {
        margin-left: 14px;
    }
}

@media (min-width: 768px) {
    .logo__link {
        margin-left: 0px;
    }
}


.menu__btn {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    background-color: #fff;
    border: none;
    position: relative;

    &::after {
        content: "";
        width: 12px;
        height: 2px;
        border-radius: 1px;
        background-color: $accent;
        position: absolute;
        top: 15px;
        left: 14px;
        box-shadow: 0 4px 0 0 $accent, 0 8px 0 0 $accent;
    }
}

@media (min-width: 1440px) {
    .menu__btn {
        margin-right: 90px;

    }
}

.head {
    background-image: url('../images/bg-slider.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 193px;
}

.top-slider {
    background: rgba(33, 33, 33, 0.5);
    min-height: 193px;

    &__item {
        color: #fff;
        text-align: center;
        min-height: 193px;
    }

    &__title {
        font-family: 'RobotoCondensed-Regular';
        font-size: 28px;
        line-height: 28px;
        font-weight: 400;
        text-transform: uppercase;
        padding: 36px 0 28px;
        max-width: 243px;
        margin: 0 auto;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 8px;
            background-color: $text-color;
            width: 61px;
            margin: 0 auto;
        }
    }

    &__text {
        display: none;
    }

    &__btn {
        display: none;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 20px;
        left: 0;
        right: 0;

        .slick-active {
            button {
                background-color: transparent;
                border: 1px solid #476E4D;
            }
        }

        button {
            font-size: 0;
            border: none;
            background-color: $accent;
            padding: 0;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            margin: 0 10px;
        }
    }
}

@media (min-width: 640px) {
    .head {
        min-height: 386px;
        background-position: center center;
    }

    .top-slider {
        &__item {
            min-width: 386px;
        }

        &__title {
            font-size: 60px;
            line-height: 60px;
            padding: 50px 0 15px;
            margin: 0 auto 30px;
            min-width: 520px;
        }

        &__btn {
            display: block;
            font-weight: 500;
            margin: 0 auto 113px;
            font-size: 18px;
            background-color: $accent;
            color: $bg-color;
            padding: 16px 45px;
            border: none;
            border-radius: 3px;
        }

        .slick-dots {
            bottom: 50px;
        }

        .slick-arrow {
            cursor: pointer;
            width: 56px;
            height: 56px;
            border: none;
            position: absolute;
            right: 0;
            z-index: 5;
        }

        .slick-prev {
            background-color: $accent;
            top: calc(50% - 56px);
        }

        .slick-next {
            background-color: $bg-color;
            bottom: calc(50% - 56px);
        }
    }
}

@media (min-width: 768px) {
    .top-slider {
        &__item {
            min-height: 465px;
        }

        &__title {
            padding: 87px 0 0;
            margin: 0 auto 0;

            &::after {
                display: none;
            }
        }

        &__text {
            padding: 25px 0 32px;
            font-family: 'RobotoCondensed-Regular';
            font-size: 18px;
            line-height: 20px;
            font-weight: 400;
            display: block;
            max-width: 586px;
            margin: 0 auto;
        }
    }

    @media (min-width: 1024px) {
        .top-slider {
            &__item {
                min-height: 618px;
            }

            &__title {
                padding-top: 101px;
                font-size: 84px;
                line-height: 84px;
                letter-spacing: 2px;
                min-width: 750px;
            }

            .slick-dots {
                bottom: 80px;
            }
        }
    }
}

@media (min-width: 1440px) {
    .top-slider {
        &__item {
            min-height: 668px;
        }

        &__title {
            padding-top: 107px;
            font-size: 96px;
            line-height: 96px;
            letter-spacing: 2px;
            min-width: 750px;
        }

        &__text {
            font-size: 24px;
            line-height: 26px;
            min-width: 886px;
        }

        .slick-arrow {
            width: 70px;
            height: 70px;

        }

        .slick-prev {

            top: calc(50% - 70px);
        }

        .slick-next {

            bottom: calc(50% - 70px);
        }
    }
}

.call {

    background-color: $accent;
    padding: 40px 0;
    color: #fff;
    text-align: center;

    &__title {
        @extend %roboto-500;

        font-size: 24px;
        line-height: 24px;
        margin-bottom: 15px;
    }

    &__text {
        margin-bottom: 40px;
    }

    &__btn {
        cursor: pointer;
        padding: 16px 15px;
        background-color: $bg-color;
        color: $accent;
        font-size: 18px;
        @extend %roboto-500;
        border-radius: 3px;
        border: none;
        text-transform: uppercase;

    }

}

@media (min-width: 768px) {
    .call {
        padding: 65px 0;
        text-align: left;

        &__inner {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__box {
            max-width: 427px;
        }

        &__text {
            margin-bottom: 0;
        }
    }
}

@media (min-width: 1024px) {
    .call {
        &__box {
            max-width: 695px;
        }
    }
}

@media (min-width: 1440px) {
    .call {
        &__inner {
            padding: 0 80px;
        }

        &__box {
            max-width: 796px;
        }
    }
}

.services {
    padding: 25px 0 40px;
    text-align: center;

    &__title {
        margin-bottom: 47px;
        color: $accent;
    }

    &__descr {
        line-height: 24px;
        font-size: 20px;
        color: $text-color;
        margin-bottom: 21px;
    }

    &__text {
        color: #797979;
        font-size: 15px;
        line-height: 17px;
        margin-bottom: 40px;
    }

    &__item {
        min-height: 310px;
        border: 1px solid $bg-color;
        border-bottom: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 18px;

        &:last-child {
            border-bottom: 1px solid $bg-color;
        }

        &:hover {

            .services__item-text,
            .services__item-link {
                opacity: 1;
                height: auto;
                overflow: visible;
            }

            .services__item-img {
                margin-bottom: 14px;
            }

            .services__item-title {
                margin-bottom: 30px;
            }

            .services__item-inner {
                border: 4px solid $accent;
                margin: 18px 0;
                padding: 25px 20px 5px;
                min-height: 277px;
            }
        }
    }

    &__item-inner {
        transition: all .5s;
    }

    &__item-img {
        margin-bottom: 30px;
    }

    &__item-title {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 2px;
        color: $text-color;
        @extend %robotocondensed-700;
    }

    &__item-link,
    &__item-text {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: all .5s;
    }

    &__item-text {
        margin-bottom: 17px;

    }

    &__item-link {
        letter-spacing: 2px;
        color: $accent;
        @extend %robotocondensed-700;
        text-transform: uppercase;
    }

}

@media (min-width: 640px) {
    .services {
        padding: 24px 0 0;
        text-align: center;

        &__title {
            margin-bottom: 20px;
            padding-bottom: 0;

            &::after {
                display: none;
            }
        }

        &__descr {

            font-size: 24px;
            padding-bottom: 38px;
            margin-bottom: 31px;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                width: 100px;
                height: 8px;
                background-color: $accent;
                bottom: 0;
                margin: 0 auto;
                left: 0;
                right: 0;
            }
        }

        &__text {

            font-size: 18px;
            line-height: 24px;

        }

        &__items {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -30px;
        }

        &__item {

            width: 50%;



            &:nth-child(even) {
                border-left: none;
            }

            &:last-child {
                border-bottom: none;
            }


        }



    }
}

@media (min-width: 768px) {
    .services {
        padding: 50px 0 0;


        &__title {
            margin-bottom: 30px;


        }

        &__descr {
            text-align: left;

            &::after {
                margin-left: 0;
            }
        }

        &__text {
            text-align: left;
            margin-bottom: 27px;

        }

        &__items {

            margin: 0 -40px;
        }

        &__item {
            padding: 0 65px;
            min-height: 310px;

            &:hover {
                padding: 0 18px;

                .services__item-inner {

                    padding: 35px 60px 5px;
                    min-height: 288px;
                }
            }
        }

    }
}

@media (min-width: 1024px) {
    .services {
        padding: 52px 0 0;


        &__title {
            margin-bottom: 60px;


        }

        &__descr {
            padding-bottom: 46px;
            margin-bottom: 40px;
        }

        &__text {
            margin-bottom: 32px;
            max-width: 608px;

        }

        &__item {
            width: 25%;
            padding: 0 17px;
            min-height: 277px;

            &:nth-child(2),
            &:nth-child(6) {
                border-right: none;
            }

            &:hover {
                padding: 0 17px;

                .services__item-inner {
                    margin: 10px 0;
                    padding: 21px 9px 5px;
                    min-height: 255px;
                }
            }
        }

    }
}

@media (min-width: 1440px) {
    .services {
        padding: 0;

        &__inner {
            display: flex;
            justify-content: space-between;
            margin: 0 -100px 0 -50px;
        }

        &__head {
            min-width: 350px;
            max-width: 350px;
            margin-right: 100px;
        }

        &__title {
            margin: 90px 0 70px;
            text-align: left;

        }

        &__descr {
            padding-bottom: 38px;
            margin-bottom: 35px;
        }

        &__items {
            margin: 0;
        }

        &__item {
            width: 230px;
            padding: 0 5px;
            height: 273px;

            &:hover {
                padding: 0 5px;

                .services__item-inner {
                    margin: 5px 0;
                    padding: 10px 3px 5px;
                    min-height: 255px;
                }
            }
        }

    }
}

.project {
    text-align: center;
    padding: 20px 0;
    background: linear-gradient(180deg, #2B4074 0%, rgba(43, 64, 116, 0) 100%);

    &__title {
        color: white;
        margin-bottom: 40px;

        &::after {
            background-color: #fff;

        }
    }

    &__item-img {
        min-height: 250px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;
        padding: 12px 14px;

        &:hover {
            .project__item-inner {

                opacity: 1;
            }
        }
    }

    &__item-inner {
        display: flex;
        justify-content: center;
        align-items: center;
        background-repeat: 4px;
        background-color: rgba($bg-color, .83);
        min-height: 227px;
        opacity: 0;
        transition: all .5s;
    }

    &__item-info,
    &__item-search {
        margin: 0 7px;
    }

    &__item-link {
        display: block;
        padding: 20px 0;
        line-height: 19px;
        letter-spacing: 2px;
        color: $accent;
        @extend %robotocondensed-700;
    }
}

@media (min-width: 640px) {
    .project {
        padding: 40px 0 20px;

        &__item-img {
            min-height: 460px;
            padding: 21px 24px;
        }

        &__item-inner {
            min-height: 417px;
        }

        &__item-link {
            font-size: 20px;
            line-height: 23px;
        }
    }
}

@media (min-width: 768px) {
    .project {
        padding: 80px 0 60px;

        &__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        &__item-img {
            min-height: 282px;
            padding: 12px 14px;
            width: 317px;
        }

        &__item-inner {
            min-height: 256px;
        }

        &__item-link {
            padding: 30px 0;
        }
    }
}

@media (min-width: 1024px) {
    .project {

        &__items {
            justify-content: center;
        }

        &__item-img {
            margin: 0 12px;
        }

    }
}

@media (min-width: 1440px) {
    .project {

        &__items {
            flex-wrap: nowrap;
            justify-content: space-between;

        }

        &__item-img {
            width: 300px;
        }

        &__item-img {
            margin: 0;
        }

    }
}

.team {
    padding: 20px 0 40px;
    text-align: center;

    &__images {
        width: 100%;
        margin-bottom: 40px;
        background-repeat: 4px;
    }

    &__title {
        color: $text-color;
        margin-bottom: 23px;
    }

    &__text {
        margin-bottom: 84px;
    }

    &__btn {
        cursor: pointer;
        border: none;
        background-color: $accent;
        text-transform: uppercase;
        border-radius: 3px;
        padding: 21px 26px;
        color: $bg-color;
        font-weight: 500;
    }
}

@media (min-width: 640px) {
    .team {
        padding: 46x 0 53px;

        &__images {
            margin-bottom: 40px;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__text {
            margin-bottom: 56px;
        }

        &__btn {
            font-size: 20px;

        }
    }
}

@media (min-width: 768px) {
    .team {
        padding: 40px 0 48px;
        text-align: left;

        &__inner {
            display: flex;
        }

        &__images {
            margin-bottom: 0;
            width: 240px;
            margin-right: 34px;
            height: 100%;
        }

        &__title {
            margin-bottom: 7px;
            font-size: 36px;
            line-height: 38px;
            padding-bottom: 28px;

            &::after {
                margin-left: 0;
            }
        }

        &__text {
            font-size: 18px;
            margin-bottom: 30px;
        }

        &__btn {
            font-size: 18px;

        }
    }
}

@media (min-width: 1024px) {
    .team {
        padding: 80px 0;

        &__images {
            width: 395px;
            margin-right: 60px;
        }

        &__title {
            margin-top: 10px;
            margin-bottom: 19px;
        }

        &__text {
            line-height: 24px;
            margin-bottom: 20px;
        }

        &__btn {
            font-size: 18px;

        }
    }
}

@media (min-width: 1440px) {
    .team {
        padding: 50px 0 110px;

        &__images {
            width: 470px;
            margin-right: 93px;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__text {
            margin-bottom: 40px;
            width: 553px;
        }
    }
}

.news {
    text-align: center;
    padding: 40px 0;
    background: #F9F6E5;

    &__item {
        margin: 0 4px;

        &:hover {

            .news__item-inner {

                opacity: 1;

            }

            .news__item-link {
                opacity: 0;
            }

        }
    }

    &__title {
        line-height: 38px;
        color: $text-color;
        margin-bottom: 40px;

        &::after {
            background-color: $accent;

        }
    }

    &__item-img {

        min-height: 200px; //440
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 4px;


    }

    &__item-inner {
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        border-style: solid;
        border-color: $accent;
        border-width: 12px;
        padding: 12px 14px;
        //min-height: 444px;
        min-height: 200px;
        opacity: 0;
        transition: all .5s;
    }

    &__item-linkinside {

        text-align-last: left;
        padding: 10px 20px;
        position: absolute;
        margin-top: 120px;
        color: $bg-color;
        font-size: 18px;
        min-width: 275px;
        line-height: 21px;
        letter-spacing: 2px;
        background-color: $accent;
        @extend %robotocondensed-700;
    }

    &__item-link {
        margin-bottom: 20px;
        opacity: 1;
        text-align: left;
        display: block;
        color: $text-color;
        font-size: 18px;
        padding: 10px 20px;
        min-width: 230px;
        line-height: 21px;
        letter-spacing: 2px;
        background-color: #fff;

        @extend %robotocondensed-700;
    }



}

.testimonial-inner {
    text-align: center;
    min-height: 50px;
    padding-top: 60px;

    &__logo {

        margin-bottom: 95px;
        align-items: center
    }
}

.bot-slider {
    //min-height: 300px;

    &__item {
        //padding-top: 60px;
        //color: #fff;
        text-align: center;
        min-height: 200px;

    }



    &__text {
        @extend %robotocondensed-400;
        color: $text-color;
        font-size: 24px;
        line-height: 26px;
        min-width: 283px;
        min-height: 155px;
        margin-bottom: 20px;

        &__diji {
            font-weight: bold;
        }
    }

    &__quote {
        @extend %robotocondensed-700;
        color: $text-color;
        font-size: 20px;
        line-height: 23px;
        letter-spacing: 2px;
        margin-bottom: 50px;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 0px;
        left: 0;
        right: 0;

    }

    .slick-active {
        button {
            background-color: transparent;
            border: 1px solid #476E4D;
        }
    }

    button {
        font-size: 0;
        border: none;
        background-color: $accent;
        padding: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0 10px;
    }
}

.footer {
    text-align: center;

    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    &__contacts {
        background-color: $accent;
        position: absolute;
        margin-top: 100px;
    }
}

.logo {
    background-color: #2B4074;
    padding: 0 75px;
    position: relative;
    margin-top: 40px;
}